.toggleMenu {
  display: flex;
  align-items: center;
  border-radius: 24px;
  overflow: hidden;
  width: calc(min(312px, 30%));
  height: 51px;
  background-color: rgba(var(--color-bgcolor-rgb), 0.7);
  box-shadow: 0px 3.91919px 3.91919px rgba(73, 91, 87, 0.25);
  margin-right: calc(min(128px, 10vw));
}

.toggleButton {
  flex: 1;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 24px;
  transition: background-color 0.3s, color 0.3s;
  color: var(--color-secondary);
  height: 100%;
}

.userButton {
  border-radius: 24px;
}

.businessButton {
  border-radius: 24px;
  padding: 0 25px;
}

.toggleButton:active {
  background-color: var(--color-bgcolor);
}

.toggleButton.active {
  background-color: var(--color-bgcolor);
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0px 3.91919px 3.91919px rgba(73, 91, 87, 0.25);
}

@media screen and (max-width: 768px) {
  .toggleMenu {
    margin-right: 10px;
    width: 180px;
    // width: calc(min(312px, 40%));
  }
  .toggleButton {
    font-size: 16px;
  }
  .businessButton {
    padding: 0 10px;
  }
  .userButton {
    padding: 0 3px;
  }
}
