.order-list-header {
  background-image: url('../../../public/assets/icons/mapIcons/modal-background2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  // background: var(--color-item-bg);
}
