.youtube-container {
  position: absolute;
  width: 100%;
  display: flex;
  overflow-x: auto;
  // scroll-snap-type: x mandatory;
  // -webkit-overflow-scrolling: touch;
}

.rounded-video-container {
  flex: 0 0 auto;
  width: fit-content;
  height: 100%;
  scroll-snap-align: start;
  overflow: hidden;
  border-radius: 20px; /* 둥근 모서리를 원하시면 이 값을 조정하세요. */
}

.youtube-container::-webkit-scrollbar {
  display: none;
}

.youtube-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.youtube-container::-webkit-scrollbar {
  width: 2px; /* 스크롤바의 너비 */
  height: 16px; /* 스크롤바의 높이 */
}

/* 스크롤바의 버튼(스크롤바의 위아래 버튼) */
.youtube-container::-webkit-scrollbar-button {
  display: none; /* 버튼을 숨김 */
}

/* 스크롤바의 트랙(바탕) */
.youtube-container::-webkit-scrollbar-track {
  border-radius: 20px;
  background: var(--color-bgcolor); /* 배경 색상 */
}

/* 스크롤바의 핸들(드래그 가능한 부분) */
.youtube-container::-webkit-scrollbar-thumb {
  background: var(--color-primary); /* 배경 색상 */
}

/* 핸들을 클릭하거나 드래그할 때 */
.youtube-container::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-event); /* 배경 색상 */
}
