.youtube-container {
  position: absolute;
  width: 100%;
  display: flex;
  overflow-x: auto;
  // scroll-snap-type: x mandatory;
  // -webkit-overflow-scrolling: touch;
}

.rounded-video-container {
  flex: 0 0 auto;
  width: fit-content;
  height: 100%;
  scroll-snap-align: start;
  overflow: hidden;
  border-radius: 20px; /* 둥근 모서리를 원하시면 이 값을 조정하세요. */
}
